@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Poiret+One');

body  {
  background-color: #1f1f2e;
  font-family: 'Love Ya Like A Sister', cursive;
}

h1 {
  font-size: 60px;
  line-height: 0.7;
  margin: 3vw 1.5vw 1vw 1.5vw;
  color: #7575a3;
}

h2 {
  font-size: 30px;
  color: #52527a;
}

button {
  font-family: 'Poiret One', cursive;
  font-size: 2vw;
  color: #29293d;
  background-color: #a3a3c2;
  font-weight: bold;
  margin: 0.4vw 0 0.4vw 2vw;
  border-radius: 0.5vw;
  border: none;
  box-shadow: none;
}

button:active {
  outline-color: white;
  color: white !important;
}

.left {
  margin-left: 0.1vw !important;
  margin-top: 1vw;
  color: white;
}

.spinner {
  text-align: center;
  padding-top: 6vw !important;
  min-height: 20vw;
}

a {
  font-family: 'Love Ya Like A Sister', cursive;
  text-decoration: none;
  color: #5c5c8a;
  font-size: 2vw;
}

a:active {
  color: white;
}

.clear {
  font-family: 'Love Ya Like A Sister', cursive;
  color: #5c5c8a;
  margin-right: 3vw;
}

#clear, #problem {
  color: white;
}

.clear:hover, .clear:active {
  cursor: pointer;
}

span {
  color: #47476b;
}

.box {
  margin: 0 1.5vw 0 1.5vw;
  border-radius: 0.7vw;
  background-color: #a3a3c2;
  padding: 2vw;
  min-height: 20vw;
}

.small-box {
  margin: 2vw 1.5vw 2vw 1.5vw;
  border-radius: 0.7vw;
  background-color: #a3a3c2;
  padding: 0.5vw 2vw 1vw 2vw;
  min-height: 10vw;
}

.clear-box {
 text-align: center;
}

nav {
  border-radius: 0.7vw;
  background-color: #7575a3;
  margin: 0 1.5vw 0 1.5vw;
}

.act {
  color: white;
}

ul li {
  display: inline;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #1f1f2e;
  font-weight: bold;
  display: inline-block;
  margin-left: -2vw;
  padding: 1.7vw 6vw 1.7vw 1vw;
  font-size: 2em;
}

.fa {
  font-size: 0.8em;
  line-height: 0.5;
}

.fa-del {
  font-size: 1.2rem;
  line-height: 0.5;
  color: #5c5c8a;
}

.search {
  font-size: 1.2rem;
}

ul li a:active, .fa-del:active {
  color: white;
}

.inp {
  margin: 0.3vw;
  font: 1.5vw 'Poiret One', cursive;
  border-radius: 0.2vw;
  border: none;
  box-shadow: none;
  height: 35px;
  width: 99%;
}

input[type='file'] {
  color: #29293d;
  margin-left: 1vw;
  font-weight: bold;
}

label {
  font: 15px 'Poiret One', cursive;
  font-weight: bold;
}

#forFile {
   margin-left: 5vw;
}

ol li {
  font-size: 2vw;
}

td {
  font-size: 1.5em;
  color: #1f1f2e;
}

.count {
  color: #5c5c8a;
}